@model WebChatSignalR.ViewModels.GroupViewModel

@{
    ViewData["Title"] = "Создать группу";
}

<h1>Создать группу</h1>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="CreateGroup" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Name" class="control-label">Название группы</label>
                <input asp-for="Name" class="form-control" required />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <input type="hidden" asp-for="CreatorId" />

            <div class="form-group">
                <label class="control-label">Выберите участников:</label>
                <div class="border p-2">
                    @foreach (var user in Model.AllUsers)
                    {
                        <div class="form-check">
                            <input type="checkbox" name="SelectedUserIds" value="@user.Id" class="form-check-input" />
                            <label class="form-check-label">@user.Name</label>
                        </div>
                    }
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Создать</button>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Group" asp-action="Index">Назад к списку</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
