@page
@model DeletePersonalDataModel
@{
    ViewData["Title"] = "Delete Personal Data";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
    Layout = "_Layout";
}

<h4>Удаление личных данных</h4>

<div class="alert alert-warning" role="alert">
    <p>
        <strong>Удаление аккаунта нельзя будет отменить, вы уверены?</strong>
    </p>
</div>

<div>
    <form id="delete-user" method="post" class="form-group">
        <div asp-validation-summary="All" class="text-danger"></div>
        @if (Model.RequirePassword)
        {
            <div class="form-group">
                <label asp-for="Input.Password">Пароль</label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
        }
        <button class="btn btn-danger" type="submit">Удалить</button>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}