@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Personal Data";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h4>Личные данные</h4>

<div class="row">
    <div class="col-md-6">
        <p>Ваш аккаунт содержит персональные данные, переданные вами. Вы можете скачать или удалить эти данные.</p>
        <p>
            <strong>Удаление этих данных приведет к удалению аккаунта, его нельзя будет восстановить.</strong>
        </p>
        <form id="download-data" asp-page="DownloadPersonalData" method="post" class="form-group">
            <button class="btn btn-primary" type="submit">Скачать</button>
        </form>
        <p>
            <a id="delete" asp-page="DeletePersonalData" class="btn btn-primary">Удалить</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}